* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: MullerBold;
  src: url("./assets/fonts/MullerBold.otf");
}

@font-face {
  font-family: MullerExtraBold;
  src: url("./assets/fonts/MullerExtraBold.otf");
}

@font-face {
  font-family: Muller;
  src: url("./assets/fonts/MullerRegular.otf");
}

body {
  font-family: Muller, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

}

.btn {
  font-size: 16px;
  font-family: MullerBold, sans-serif;
  color: rgb(2, 3, 3);
  background-color: #ffaf18;
  width: 224px;
  height: 60px;
  cursor: pointer;
  outline: none;
  padding: 22px;
  box-sizing: border-box;
  border: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn.btn-white {
  background: transparent;
  border: 1px solid #ffaf18;
  color: #ffaf18;
}

/* 1024-1229*/
@media screen and (max-width: 1229px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main {
  padding: 132px 0 81px;
}

.main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-info {
  max-width: 622px;
}

.main-info h1 {
  font-size: 45px;
  font-family: MullerExtraBold, sans-serif;
  line-height: 1.222;

}


.double-title {
  color: rgb(185, 145, 80);
}

.double-title span {
  color: #ffaf18;
}

.main-advantages {
  margin-top: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage {
  max-width: 306px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 47px;

}

.advantage-text {
  margin-left: 16px;
}

.advantage-title {
  font-size: 16px;
  font-family: MullerExtraBold, sans-serif;
  color: rgb(255, 175, 24);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantage-description {
  font-size: 16px;
  color: rgb(185, 145, 80);
}

.main-action {
  margin-top: 60px;
}

.products {
  padding: 80px 0 120px 0;
}

.products-title {
  font-size: 35px;
  font-family: MullerBold, sans-serif;
  color: rgb(189, 152, 92);
  text-align: center;
}

.products-items {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.order {
  padding: 120px 0 115px 0;
  overflow: hidden;
}

.order .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.order-text {
  max-width: 384px;
}

.order-text-title {
  font-size: 35px;
  font-family: MullerExtraBold, sans-serif;
  margin-bottom: 65px;
}

.order-text-message {
  font-size: 16px;
  color: rgb(185, 145, 80);
  line-height: 1.5;
}

.order-form {
  margin-left: 122px;
  max-width: 330px;
}

.order-input {
  border-width: 1px;
  border-color: rgb(185, 145, 80);
  border-style: solid;
  background-color: rgb(255, 255, 255);
  width: 330px;
  height: 60px;
  font-size: 18px;
  padding: 23px 22px 24px 22px;
  margin-bottom: 24px;
  box-sizing: border-box;
  outline: 0;
  color: rgb(169, 127, 58);
}

.order-input::placeholder {
  color: rgb(203, 168, 110);
}

.order .btn {
  width: 330px;
  height: 60px;
}


.order-image {
  width: 282px;
  position: relative;
  margin-left: 78px;
}

.order-image img {
  position: absolute;
  bottom: -35px;
  left: 0;

}


/* 1024-1229*/
@media screen and (max-width: 1229px) {
  .main-image {
    width: 400px;
  }

  .main-image img {
    max-width: 100%;
  }

  .products-items {
    /*max-width: 590px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    justify-content: center;
  }


  .order-form {
    margin-left: 45px;
  }

  .order .container {
    max-width: 1024px;
  }

}

/* 768-1023*/
@media screen and (max-width: 1023px) {

  .main .container {
    flex-direction: column;

  }

  .main-image {
    order: 1;
    margin-bottom: 30px;

  }

  .main-info {
    order: 2;
  }

  .main {
    padding-top: 70px;
  }

  .main-info h1 {
    text-align: center;
  }

  .main-action {
    text-align: center;
  }

  .products {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .order {
    padding-top: 60px;
    position: relative;
  }

  .order-image {
    position: absolute;
  }

  .order-image {
    z-index: -1;
    right: calc(50% - 400px);
  }

  .order-image img {
    position: relative;
  }

  .order .container {
    justify-content: center;
  }
}

/* 425-767*/
@media screen and (max-width: 767px) {
  .cart {
    margin-left: 20px;
  }

  .main-info h1 {
    line-height: 45px;
  }

  .main-advantages {
    margin-left: auto;
    margin-right: auto;
  }

  .order .container {
    /*flex-wrap: wrap;*/
    flex-direction: column;
    align-items: center;
  }

  .order-text-title {
    text-align: center;
    margin-bottom: 30px;
  }

  .order-text-message {
    text-align: center;
    margin-bottom: 25px;
  }

  .order-form {
    margin-left: 0;
    flex-basis: 100%;

  }
}

@media screen and (max-width: 656px) {
  .main-advantages {
    max-width: 306px;
  }

}


/*375-424*/
@media screen and (max-width: 424px) {
  .main-image {
    max-width: 100%;
  }
}


/*320-374*/
@media screen and (max-width: 374px) {

  .main-info h1 {
    font-size: 38px;
  }

  .order-input {
    max-width: 290px;
    text-align: center;
  }
  .order .btn {
    max-width: 290px;
  }

  .rights {
    margin-left: 20px;
  }

}
