<section class="main">
  <div class="container">
    <div class="main-info">
      <h1 class="double-title">Самая вкусная пицца в мире<span> только в Pizza Cheff</span></h1>
      <div class="main-advantages">
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/hop.png" alt="Пшено">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">
              Лучшее тесто
            </div>
            <div class="advantage-description">
              Мы создаем тесто только из
              отборной итальянской муки
              наивысшего качества
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/kitchen-pack.png" alt="Таблетка">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">лучшие повара</div>
            <div class="advantage-description">
              Пиццы готовят самые
              профессиональные
              итальянские повара
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/seo-and-web.png" alt="Гарантия">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">
              гарантия качества
            </div>
            <div class="advantage-description">
              Наша пиццерия получила
              множество наград и
              признаний по всему миру
            </div>
          </div>
        </div>
        <div class="advantage">
          <div class="advantage-image">
            <img src="assets/images/holidays.png" alt="Клош">
          </div>
          <div class="advantage-text">
            <div class="advantage-title">отборные рецепты</div>
            <div class="advantage-description">
              Мы используем рецепты
              от мировых лидеров
              в изготовлении пиццы
            </div>
          </div>
        </div>
      </div>
      <div class="main-action">
        <button class="btn" (click)="scrollTo(productsElement)">Выбрать пиццу</button>
      </div>
    </div>
    <div class="main-image">
      <img src="assets/images/pizza_big.png" alt="Большая пицца">
    </div>
  </div>
</section>

<section class="products" #productsElement>
  <div class="container">
    <h2 class="products-title" id="products-title">
      Выберите свою любимую пиццу
    </h2>
    <div class="products-items">
      <product *ngFor="let product of products;" [product]="product" (addToCartEvent)="addToCart($event,orderElement)"></product>
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container">
    <div class="order-text">
      <div class="order-text-title double-title">
        <span>Хватит думать!</span> Доставим заказ за 30 минут!
      </div>
      <div class="order-text-message">
        Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на
        1
        минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
        сервисом
        и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
      </div>
    </div>
    <div class="order-form">
      <input class="order-input" collInput id="product-input" type="text" placeholder="Пицца"
             [(ngModel)]="formValues.productTitle">
      <input class="order-input" collInput type="text" id="address-input" placeholder="Адрес доставки"
             [(ngModel)]="formValues.address">
      <input class="order-input" type="text" id="phone-input" placeholder="Телефон" [(ngModel)]="formValues.phone">
      <button class="btn" (click)="createOrder()">Оформить заказ</button>
    </div>
    <div class="order-image">
      <img src="assets/images/pizza.png" alt="Пицца">
    </div>
  </div>
</section>

